body {
	background-color: #f0f0f0;
}
h1 {
  
}

p {
  color: red;
}

.text-blue {
	color: #1dadd1;
}

.text-orange {
	color: #e2522e
}

.text-grey {
	color: #cdcdcd;
}

.text-furigana {
	color: #cdcdcd;
	letter-spacing:15px;
}

.text-large {
  	font-size: 400%;
}

@media (min-width: 768px){ 
     .text-large {
  	font-size: 1000%;
     }

     .text-grey {
	font-size: 120%;
	letter-spacing: 8px;
      }

     .text-furigana {
	font-size: 120%;
	letter-spacing:40px;
      }

}

 
@media (min-width: 1200px) { 
     .text-large {
  	font-size: 1500%;
     }

     .text-grey {
	font-size: 150%;
	letter-spacing: 15px;
      }

     .text-furigana {
	font-size: 150%;
	letter-spacing:70px;
      }

}